# Allow access to the chat endpoint
RewriteRule ^/v1/ai/([-a-fA-F\d]+)/chat       /v1/ai/$1/chat    [L]

# (Temporarily) Allow access to the assistant endpoint (Project Snowflake)
RewriteRule ^/v1/assistant/([-a-fA-F\d]+)/chat       /v1/assistant/$1/chat    [L]

# Allow access to /v1/aiservices endpoint from authorized IPs only
# localhost, 10.3.0.X (AWS), 10.8.0.X (VPN), 10.99.X.X (docker any internal_net), 10.132.0.X (GCE)
# 192.168.X.X (local ADSL)
RewriteCond %{REMOTE_ADDR}          127\.0\.0\.\1               [OR]
RewriteCond %{REMOTE_ADDR}          10\.99\.\d+\.\d+            [OR]
RewriteCond %{REMOTE_ADDR}          192\.168\.\d+\.\d+          [OR]
RewriteCond %{REMOTE_ADDR}          10\.(3|8|132)\.0\.\d+
RewriteRule ^/v1/aiservices/(.*)    /v1/aiservices/$1           [L]

# Allow access to /v1/admin endpoint from authorized IPs only
# localhost, 10.8.0.X (VPN), 10.99.X.X (docker front internal_net), 10.132.0.X (GCE)
# 192.168.X.X (local ADSL)
RewriteCond %{REMOTE_ADDR}          127\.0\.0\.\1               [OR]
RewriteCond %{REMOTE_ADDR}          10\.99\.0.\d+               [OR]
RewriteCond %{REMOTE_ADDR}          192\.168\.\d+\.\d+          [OR]
RewriteCond %{REMOTE_ADDR}          10\.(8|132)\.0\.\d+
RewriteRule ^/v1/admin/(.*)         /v1/admin/$1                [L]


# Allow access to all endpoints from authorized IPs only
# localhost, 10.8.0.X (VPN), 10.99.0.X (docker front internal_net), 10.132.0.X (GCE)
# 192.168.X.X (local ADSL)
RewriteCond %{REMOTE_ADDR}          127\.0\.0\.\1               [OR]
RewriteCond %{REMOTE_ADDR}          10\.99\.0.\d+               [OR]
RewriteCond %{REMOTE_ADDR}          192\.168\.\d+\.\d+          [OR]
RewriteCond %{REMOTE_ADDR}          10\.(8|132)\.0\.\d+
RewriteRule ^/v1/(.*)               /v1/$1                      [L]

# Deny access to everything else (HTTP error 403)
RewriteRule ^/(.*)                  -                           [F]
