<div>
{{#category}}
<div class="carousel-box">
    {{#showHeader}}
        <div class="row no-margin" >
        <span><div class="carousel-title pull-left">{{category}}</div></span>
        </div>

    {{/showHeader}}
{{/category}}
        No bots are currently available.
</div>