<div class="box-body flat no-padding" style="background-color: #404446; border: 1px solid #202020; margin-top: -1px;"
     onmouseover="promptOnMouseInRow(this)" onmouseout="promptOnMouseOutRow(this)">
    <div class="row">
        <div class="col-xs-10" id="obj-prompt">
            <div class="inner-addon left-addon" style="background-color: #404446;">
                <i class="fa fa-comments text-gray"></i>
                <input type="text" class="form-control flat no-shadow no-border" id="intent-prompt-row"
                       name="intent-prompt-row"
                       style="background-color: #404446;" value="{{prompt}}" placeholder="{{prompt}}"
                       onkeydown="enableSaving(true);">
            </div>
        </div>
        <div class="col-xs-2" id="btnRowPrompt" style="display:none;">
            <div class="btn-group pull-right text-gray" style="padding-right:7px; padding-top:7px;">
                <a data-toggle="modal" data-target="#deleteRowPrompt" style="padding-right:3px;"
                   onClick="deleteRowPrompt(this)">
                    <i class="fa fa-trash-o" data-toggle="tooltip" title="Delete"></i>
                </a>
            </div>
        </div>
    </div>
</div>