<div class="box-body flat no-padding" style="background-color: #404446; border: 1px solid #202020; margin-top: -1px;"
     onmouseover="responseOnMouseIn (this)" onmouseout="responseOnMouseOut (this)">
    <div class="row">
        <div class="col-xs-10" id="obj-intentresponse">
            <div class="inner-addon left-addon" style="background-color: #404446;">
                <i class="fa fa-comments-o text-gray"></i>
                <input type="text" class="form-control flat no-shadow no-border" id="intent-response-row"
                       name="intent-response-row"
                       style="padding-left: 35px;background-color: #404446; " value="{{response}}"
                       placeholder="{{response}}" onkeydown="enableSaving(true);">
            </div>
        </div>
        <div class="col-xs-2" id="btnIntentResponse" style="display:none;">
            <div class="btn-group pull-right text-gray" style="padding-right:7px; padding-top:7px;">
                <a data-toggle="modal" data-target="#deleteIntentResponse" style="padding-right:3px; cursor: pointer;"
                   onClick="deleteIntentResponse(this)">
                    <i class="fa fa-trash-o text-gray" data-toggle="tooltip" title="Delete"></i>
                </a>

            </div>
        </div>

    </div>
</div>