[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.hutoma.ai/simple"
verify_ssl = false
name = "hu_pypi"

[packages]
pyyaml = {version="*", index="pypi"}
aiohttp = {version="*", index="pypi"}
dill = {version="*", index="pypi"}
mysql-connector-python = {version="*", index="pypi"}

hu_logging = {version="*", index="hu_pypi"}
hu_utils = {version="*", index="hu_pypi"}

[dev-packages]
flake8 = {version="*", index="pypi"}
yapf = {version="*", index="pypi"}
hu_build = {version="*", index="hu_pypi"}
pytest = {version="*", index="pypi"}

[requires]
python_version = "3.7"
